{% extends 'core/base.html' %}
{% load static %}

{% block title %}Settings - Code Block{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/settings.css' %}">
{% endblock %}

{% block body %}
<div class="main">
    <div class="main-wrapper">
        <span class="sett-title">Settings for @{{ user.username }}</span>
        <div class="layout">
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="username" class="field-label">Username</label>
                    {{ form.username }}
                </div>
                <div>
                    <label for="email" class="field-label">Email</label>
                    {{ form.email }}
                </div>
                <div>
                    {{ form.display_email }}
                    <label for="display_email" class="field-label">Display Email on Profile</label>
                </div>
                <div>
                    <label for="fullname" class="field-label">Full Name</label>
                    {{ form.full_name }}
                </div>
                <div>
                    <label for="gender" class="field-label">Gender</label>
                    {{ form.gender }}
                </div>
                <div>
                    <label for="bio" class="field-label">Bio</label><br>
                    {{ form.bio }}
                </div>
                <div>
                    <label for="pfp" class="field-label">Your Profile Image</label><br>
                    <div style="display: flex; flex-direction: row; gap: 20px; align-items: center;">
                        <img src="{{ user.pfp.url }}" class="pfp-change" style="width: 70px; height:70px; object-fit: cover; border-radius: 50%;">
                        {{ form.pfp }}
                    </div>
                </div>
                <button name="submit">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}