{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- My css files -->
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
    {% block styles %}{% endblock %}

    <!-- Title for every page -->
    <title>{% block title %}Code Blog{% endblock %}</title>
</head>

<body>
    <!-- Main nav -->
    <header class="main-header">
        <div class="header-container">
            <a href="{% url 'core:index' %}" class="main-logo">Code Blog</a>
            <div class="header-search">
                <form method="get" action="/search" autocomplete="off" class="search-form">
                    <div class="form-wrapper">
                        <input type="text" id="my-search" placeholder="Search..." name="q" onchange="searchEmpty()">
                        <button type="submit" class="search-but" id="searchButton" disabled="disabled">
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-search search-but-icon"
                                viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <div class="user-sec">
                {% if user.is_authenticated %}
                <div class="authentication-top-nav">
                    <a href="{% url 'core:new-post' %}" class="nav-new-post">Create Post</a>
                    <img src="{% static 'core/images/default.jpg' %}" class="nav-user-img" id="dropbtn"
                        onclick="toogleDropdown()">
                    <div class="dropdown-nav" id="dropdown">
                        
                        <ul>
                            <li class="nav-userinfo">
                                <span>Singed in as</span><br>
                                <span class="bold">@{{ user.username }}</span>
                            </li>
                            <hr/>
                            <li><a href="#" class="drop-nav-item">Dashboard</a></li>
                            <li><a href="{% url 'core:profile' user.username %}" class="drop-nav-item">Your Profile</a></li>
                            <li><a href="{% url 'core:new-post' %}" class="drop-nav-item">Create Post</a></li>
                            <li><a href="{% url 'accounts:settings' %}" class="drop-nav-item">Settings</a></li>
                            <hr/>
                            <li><a href="{% url 'logout' %}" class="drop-nav-item">Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="authentication-top-nav">
                    <a href="{% url 'accounts:login' %}" class="top-nav-login">Login</a>
                    <a href="{% url 'accounts:register' %}" class="top-nav-create">Create account</a>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    
    <div class="body-wrapper">
        {% block body %}{% endblock %}
    </div>

    <script>
        // dropdown for user navigation.
        function toogleDropdown() {
            document.getElementById('dropdown').classList.toggle('dropdown-visibility')
        }
        window.onclick = function (event) {
            if (!event.target.matches('#dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-nav");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('dropdown-visibility')) {
                        openDropdown.classList.remove('dropdown-visibility');
                    }
                }
            }
        }

        // function to disable home page search bar when searchbar is empty.
        let searchButton = document.getElementById('searchButton')

        function searchEmpty(){
            searchButton.disabled = false
        }
    </script>
</body>

</html>