{% extends 'core/base.html' %}
{% load static %}

{% block title %}
{{ cat|title }} category - Code Blog
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
{% endblock %}

{% block body %}
<div class="grid-wrapper d-flex flex-row m-auto gap-1">
    <main class="container d-flex flex-column gap-2 main-block">
        <span class="latest-post-span fw-bolder w-auto py-2">Category - {{ cat|title }}</span>
        <div class="d-flex flex-column gap-5">
            {% for post in posts %}
            <article class="main-articles h-auto">
                <div class="post-img">
                    {% if post.cover_image %}
                    <img src="{{ post.cover_image.url }}">
                    {% endif %}
                </div>
                <div class="py-4 px-4 d-flex flex-column gap-2">
                    <a href="{% url 'core:category' post.category %}" class="fw-bolder text-decoration-none index-cate">{{ post.category|title }}</a>
                    <div class="d-flex flex-column align-items-start gap-0 text-decoration-none">
                        <a href="{% url 'core:profile' post.author %}"
                            class="flex-row author-info-link text-decoration-none">
                            <img src="{{ post.author.pfp.url }}" class="author-img" onclick="">
                            <span class="ms-2 fw-semibold">{{ post.author.full_name }}</span>
                        </a>
                        <p class="m-0 p-0 lh-1 ms-5">Published on - {{ post.created_on|date }}</p>
                    </div>
                    <div class="d-flex flex-column gap-2 post-info mx-5 mt-1">
                        <a href="{% url 'core:detail' post.author post.slug %}">
                            <h2 class="first-letter-capital">{{ post.title }}</h2>
                        </a>
                        <p class="post-snippet">{{ post.snippets }}</p>
                    </div>
                    <div class="d-flex gap-4 mx-5">
                        <div class="pointer">
                            <i class="fa-solid fa-heart me-2" style="color: #ff0000;"></i>
                            {{ post.likes.count }}
                        </div>
                        <div class="pointer">
                            <i class="fa-regular fa-comment me-2"></i>{{ post.comments.count }}
                            Comment{{post.comments.count | pluralize }}
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </main>
    <section class="container sidebar p-4">
        <div class="sidebar-nav">
            <span class="d-block text-bg-primary fw-bolder fs-5">Navigation</span>
            <div class="d-flex flex-column flex-nowrap gap-2 mt-3">
                <a href="{% url 'core:index' %}" class="block rounded-pill text-decoration-none px-4 py-1 fw-semibold">Home</a>
                <a href="{% url 'core:about' %}" class="block rounded-pill text-decoration-none px-4 py-1 fw-semibold">About</a>
                <a href="#" class="block rounded-pill text-decoration-none px-4 py-1 fw-semibold">Contact us</a>

            </div>
        </div>
    </section>
</div>
{% endblock %}