{% extends 'core/base.html' %}
{% load markdown_extras %}
{% load static %}
  
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'core/detail.css' %}">
{% endblock %}

{% block title %}{{ post.title }} - Code Blog{% endblock %}

{% block body %}
    <div class="wrapper">
        {% if post.author.username == user.username %}
        <a href="{% url 'core:edit-post' user.username post.slug %}">Edit Post</a>
        <a href="{% url 'core:delete-post' user.username post.slug %}">Delete post</a>
        {% endif %}
        <article class="main-article">
            <header class="main-head">
                <h1 class="main-title">{{ post.title }}</h1>
                <p class="main-snip">Snippets</p>
                <span>{{ post.created_on }} Author- {{ post.author }}</span>
            </header>
            <div class="main-body">
                {{ post.body | convert_to_markdown | safe }}
            </div>
        </article>
        <div class="comments">
            <h2>Comments..</h2>
            <h4>add New comment</h4>
            <form method="post">
                {% csrf_token %}
                <textarea name="body" class="comment-body"></textarea>
                {% if user.is_authenticated %}
                    <button type="submit">Comment</button>
                {% else %}
                    <button type="submit" disabled>Comment</button>
                {% endif %}
            </form>

            {% if post.comments.all %}
                {% for comment in post.comments.all %}
                    <i>{{ comment.user }}</i>
                    <p>{{ comment.body }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}