{% extends 'core/base.html' %}
{% load markdown_extras %}
{% load static %}
  
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'core/detail.css' %}">
{% endblock %}

{% block title %}{{ post.title }} - Code Blog{% endblock %}

{% block body %}
    <div class="body-wrapper">
        {% if post.author.username == user.username %}
        <a href="{% url 'core:edit-post' user.username post.slug %}">Edit Post</a>
        <a href="{% url 'core:delete-post' user.username post.slug %}">Delete post</a>
        {% endif %}
        <article class="main-article">
            <header class="main-head">
                <h1 class="main-title">{{ post.title }}</h1>
                <p class="main-snip">Snippets</p>
                <span>{{ post.created_on }} Author- {{ post.author }}</span>
            </header>
            <div class="main-body">
                {{ post.body | convert_to_markdown | safe }}
            </div>
        </article>
    </div>
{% endblock %}