{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
{{ profile.username }} - Code Blog
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/profile.css' %}">
{% endblock %}

{% block body %}
<div class="container-fluid p-0 d-flex flex-column align-items-center h-10 mt-5">
    <div class="head-section d-flex flex-column justify-content-center align-items-center gap-3 p-5 mb-5">
        {% if profile.username == user.username %}
        <a href="{% url 'accounts:settings' %}"><button class="edit-button rounded position-absolute border border-0">Edit
                Profile</button></a>
        {% endif %}
        <img class="profile-img img-fluid object-fit-cover img-thumbnail rounded-circle" src="{{ profile.pfp.url }}">
        <h2>{{ profile.full_name|title }}</h2>
        {% if profile.bio %}
            <span>{{ profile.bio }}</span>
        {% endif %}
        <div class="profile-meta d-flex flex-row gap-3 justify-content-center align-items-center">
            <span>
                {% if profile.website_link %}
                <i class="fa-solid fa-link me-1"></i>
                <a href="{{ profile.website_link }}" class="link-profile">{{ profile.website_link|slice:':50' }}</a>
                {% endif %}
            </span>
            <span class="d-inline">
                {% if profile.country %}
                <i class="fa-sharp fa-solid fa-location-dot me-1"></i>
                <span>{{ profile.country }}</span>
                {% endif %}
            </span>
            <span class="d-inline text-center">
                <i class="fa-solid fa-calendar-days me-1"></i>
                <span>Joined on {{ profile.date_joined|date }}</span>
            </span>
            {% if profile.display_email %}
            <span class="d-inline">
                <i class="fa-solid fa-envelope me-1"></i>
                <span>{{ profile.email }}</span>
            </span>
            {% endif %}
        </div>
        <div class="post-counter mt-3 text-center">
            Post Published - {{ posts|length }}
        </div>
    </div>
    <div class="profile-posts d-flex flex-column gap-3 mb-5">
        <span class="h3 fw-bolder">Latest Post</span>
        {% for post in posts %}
        <article class="profile-articles rounded d-flex flex-row">
            <div class="p-4">
                <div class="container d-flex gap-2">
                    <img src="{{ post.author.pfp.url }}" class="article-author-img img-thumbnail object-fit-cover rounded-circle">
                    <div class="d-flex flex-column mb-3">
                        <span class="pu-name">{{ post.author.full_name }}</span>
                        <small class="pu-time">Published - {{ post.created_on|naturaltime }}</small>
                    </div>
                </div>
                <div class="container article-wrapper mb-3">
                    <a href="{% url 'core:detail' profile.username post.slug %}" class="text-decoration-none"><h2 class="m-0 p-0">{{ post.title }}</h2></a>
                </div>
                <div class="container snippets">
                    <span class="fs-6">{{ post.snippets }}</span>
                </div>
            </div>
            <div class="ms-auto bg-gray rounded">
                {% if post.cover_image %}
                <img src="{{ post.cover_image.url }}" class="p-post-img rounded" alt="post-image">
                {% endif %}
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}