/* Dashboard.css */

.dashboard-wrapper{
    margin-top: 80px;
}

.dashboard-max-w{
    margin: auto;
    max-width: 1000px;
}

.dash-article{
    background-color: var(--bg-color-prim);
    min-height: 60px;
}

.dash-p-title{
    color: var(--primary-color);
    font-size: 1.1rem;
}

.dash-p-title::first-letter{
    text-transform: capitalize;
}

.dash-p-status{
    width: 100px;
    border-radius: 10px;
    background-color: #404040;
    text-align: center;
    color: #fff;
}

.dash-p-buttons{
    margin-left: auto;
    width: auto;
}

.card-height{
    height: 100px
}