.head-section{
    background-color: var(--secondary-color);
    color: var(--bg-color-prim);
    margin: auto;
    width: 100%;
}

.profile-img{
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.profile-meta{
    font-size: 0.8rem;
}

.profile-posts{
    width: 1000px;
    background-color: var(--bg-color-sec);
}

.profile-articles{
    background-color: var(--bg-color-prim);
    min-height: 200px;
}

.article-wrapper > a > h2{
    color: #333;
    font-size: 2rem !important;
    font-weight: 700 !important;
    text-decoration: none;
}

.article-wrapper>a:hover, .article-wrapper>h2:hover{
    color:aqua
}

.edit-button{
    width: 120px;
    height: 50px;
    background-color: var(--primary-color);
    color: #fff;
    top: 100px;
    right: 100px
}

.link-profile{
    color: #cdcdcd !important;
    text-decoration: none;
}

.link-profile:hover{
    color: var(--primary-color) !important;
}

.p-post-img{
    width: 300px;
    height: 100%;
    object-fit: cover;
}

.article-author-img{
    width: 50px;
    height: 50px;
}

.pu-name{
    font-size: 0.9rem;
    font-weight: 500;
}

.pu-time{
    font-size: 0.9rem;
}

.bg-gray{
    width:300px;
    background-color: #d3d3d3;
}

